@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap%27');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 1px 0px;     */
    position: fixed;
    background: white;
}

h1{
    position: relative;
    left: 7.5%;
    font-size: 40px;
    font-weight: bold;
}

.header1 nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}

.header1 ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.header1 a {
    color: rgb(37, 36, 36);
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
}

.header1 a:hover{
    color:black;
    font-weight: bold;
}

.header1 li{
    font-size: 20px;
    list-style: none;
}

.header1 button{
    color: white;
    background: black;
    width: 150px;
    border: none;
    font-size: 25px;
    display: none;
    
}

.Lajanra-amarea{
    background-image: url(./img/laranja\ azul\ recorte.png);
    width: 100%;
    height: 29em;
    background-size: cover;
}

.filhodalanraja{
    width: 90%;
    color: white;
    position: relative;
    left: 6.0em;
    top: 10em;
} 


.filhodalanraja h2{
    color: white;
    font-size: 2.6rem;
}

.filhodalanraja p{ 
    color: white;
    padding-top: 2em;
    font-size:1.5rem ;
}



.fotos{
    width: 100%;
    margin-top: 2rem ;
    margin: 0 auto ;
}


.fotos img{
    width: 25%;
    padding: 0.5em;
    
}


.figi{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vw;

    
}



footer{
    width: 100%;
    padding: 3%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.geral {
    display: flex;
}

.figi2{
    width: 50%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.figi2 img{
    object-fit: contain;
    width: 30px;
    height: 30px;

}


.naocopie{
    width: 50%;
    padding:10px;
    margin-right: 20%;
    display: flex;
    align-items: center;
}

p{
    margin-left: 2vw;
    font-weight: 300;
    width: 60%;
}

.pai2{
    display: flex;
}

.naocopie h2{
    position: relative;
    left:84px;
}


.naocopie p{
    position: relative;
    left:100px;
    color:rgba(0, 0, 0, 0.986);
}

.topo{
    background:#333333;
    color:#CCCCCC;
    padding: 5px 20px;
    border: none;
}

.botao{
    align-self: center;
    display: none;
}

@media (max-width: 935px) {
    .Lajanra-amarea{
      width: 100%;
      height: 40em;
      background-position-x: 80% ;
     
    }
.header1 button{
    display: initial;
   
} 

.header1 ul{ display: none;

}

.fotos{
    flex-direction: column;
}

.fotos img{
    width: 80%;

}

h1{
    font-size: 27px;

}


footer{
 padding: 2%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

 
}

.pai2{
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    height: 50%;
    
}

.figi2{
    justify-content: center;
     margin-left: 0;
     width: 355px;
     background: #7FDBD4;
}

.geral{
    width: 70%;
    height: 50%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.figi2 img{
    width: 30px;
    margin-left: 15px;
    
}

.naocopie{
 margin-left: 0;
 flex-direction: column;

}

.redesocial{
 margin-left: 50px;
}

.copi{
    font-size: 15px;
}

.naocopie p{
    width: 122%;
    word-break: break-all;
    font-size: 10px;
    margin-left: 0;
}

.botao{
    display: initial;
}




}



